# Importing libraries

In [ ]:
import pandas as pd

In [ ]:
p = {'a':[20,30,10],'b':[30,80,40]}

In [ ]:
e = pd.DataFrame(p)
e

In [14]:
type(e)

pandas.core.frame.DataFrame

In [15]:
df = pd.read_csv("purchase_data_class_4.csv")

In [16]:
type(df)
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [17]:
import numpy as np

In [18]:
np.shape(df)

(10, 4)

# Reviewing dataset

In [19]:
df.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [20]:
df.tail()

   Country   Age   Salary Purchased
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

# Separating features and labels

In [21]:
X = df.iloc[:, :-1].values

In [22]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [58]:
Y = df.iloc[:,3]

In [24]:
Y

0     No
1    Yes
2     No
3     No
4    Yes
5    Yes
6     No
7    Yes
8     No
9    Yes
Name: Purchased, dtype: object

In [25]:
df.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

# Dealing with missing values

In [26]:
import sklearn

In [27]:
from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values = 'NaN', strategy = "mean", axis = 0)

In [28]:
imputer = imputer.fit(X[:, 1:3])

In [29]:
X[:, 1:3] = imputer.transform(X[:, 1:3])
print X

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 63777.77777777778]
 ['France' 35.0 58000.0]
 ['Spain' 38.77777777777778 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]

# Encoding categorical data

In [60]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X = LabelEncoder()
X[:, 0] = labelencoder_X.fit_transform(X[:, 0])
onehotencoder = OneHotEncoder(categorical_features = [0]) #Index of the categorical column
print X.shape
X = onehotencoder.fit_transform(X).toarray()

(10L, 6L)

In [81]:
print X

[[  1.00000000e+00   0.00000000e+00   1.00000000e+00   0.00000000e+00
    0.00000000e+00   4.40000000e+01   7.20000000e+04]
 [  0.00000000e+00   1.00000000e+00   0.00000000e+00   0.00000000e+00
    1.00000000e+00   2.70000000e+01   4.80000000e+04]
 [  0.00000000e+00   1.00000000e+00   0.00000000e+00   1.00000000e+00
    0.00000000e+00   3.00000000e+01   5.40000000e+04]
 [  0.00000000e+00   1.00000000e+00   0.00000000e+00   0.00000000e+00
    1.00000000e+00   3.80000000e+01   6.10000000e+04]
 [  0.00000000e+00   1.00000000e+00   0.00000000e+00   1.00000000e+00
    0.00000000e+00   4.00000000e+01   6.37777778e+04]
 [  1.00000000e+00   0.00000000e+00   1.00000000e+00   0.00000000e+00
    0.00000000e+00   3.50000000e+01   5.80000000e+04]
 [  0.00000000e+00   1.00000000e+00   0.00000000e+00   0.00000000e+00
    1.00000000e+00   3.87777778e+01   5.20000000e+04]
 [  1.00000000e+00   0.00000000e+00   1.00000000e+00   0.00000000e+00
    0.00000000e+00   4.80000000e+01   7.90000000e+04]
 [  0.00000000e+00   1.00000000e+00   0.00000000e+00   1.00000000e+00
    0.00000000e+00   5.00000000e+01   8.30000000e+04]
 [  1.00000000e+00   0.00000000e+00   1.00000000e+00   0.00000000e+00
    0.00000000e+00   3.70000000e+01   6.70000000e+04]]

In [79]:
type(X)

numpy.ndarray

In [46]:
df.columns

Index([u'Country', u'Age', u'Salary', u'Purchased'], dtype='object')

In [47]:
df.Country

0     France
1      Spain
2    Germany
3      Spain
4    Germany
5     France
6      Spain
7     France
8    Germany
9     France
Name: Country, dtype: object

In [48]:
df.Age

0    44.0
1    27.0
2    30.0
3    38.0
4    40.0
5    35.0
6     NaN
7    48.0
8    50.0
9    37.0
Name: Age, dtype: float64

In [49]:
out = df['Purchased']

In [50]:
out

0    0
1    1
2    0
3    0
4    1
5    1
6    0
7    1
8    0
9    1
Name: Purchased, dtype: int64

In [63]:
feature = df.drop(['Purchased'],axis = 1)
feature.columns

Index([u'Country', u'Age', u'Salary'], dtype='object')

In [64]:
feature['Purchased'] = df['Purchased']

In [65]:
feature.columns

Index([u'Country', u'Age', u'Salary', u'Purchased'], dtype='object')

In [87]:
#df.loc[df['Purchased'] == 'Yes']

In [55]:
df.head(2)

  Country   Age   Salary  Purchased
0  France  44.0  72000.0          0
1   Spain  27.0  48000.0          1

In [35]:
df.head(100)

   Country   Age   Salary  Purchased
0   France  44.0  72000.0          0
1    Spain  27.0  48000.0          1
2  Germany  30.0  54000.0          0
3    Spain  38.0  61000.0          0
4  Germany  40.0      NaN          1
5   France  35.0  58000.0          1
6    Spain   NaN  52000.0          0
7   France  48.0  79000.0          1
8  Germany  50.0  83000.0          0
9   France  37.0  67000.0          1

In [36]:
type(df['Country'])

pandas.core.series.Series

In [37]:
type(df[['Country']])

pandas.core.frame.DataFrame

In [38]:
type([df['Country']])

list

In [39]:
df.describe

<bound method DataFrame.describe of    Country   Age   Salary  Purchased
0   France  44.0  72000.0          0
1    Spain  27.0  48000.0          1
2  Germany  30.0  54000.0          0
3    Spain  38.0  61000.0          0
4  Germany  40.0      NaN          1
5   France  35.0  58000.0          1
6    Spain   NaN  52000.0          0
7   France  48.0  79000.0          1
8  Germany  50.0  83000.0          0
9   France  37.0  67000.0          1>

# Label Encoders

In [40]:
le = LabelEncoder()

In [71]:
df.country = le.fit_transform(df.Country)

In [73]:
df.Purchased = le.fit_transform(df.Purchased)

In [74]:
df.describe

<bound method DataFrame.describe of    Country   Age   Salary  Purchased
0   France  44.0  72000.0          0
1    Spain  27.0  48000.0          1
2  Germany  30.0  54000.0          0
3    Spain  38.0  61000.0          0
4  Germany  40.0      NaN          1
5   France  35.0  58000.0          1
6    Spain   NaN  52000.0          0
7   France  48.0  79000.0          1
8  Germany  50.0  83000.0          0
9   France  37.0  67000.0          1>

# Splitting into Train and Test set

In [82]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.33, random_state = 0) #Trivia : What is random_state?
print 'X Train', X_train, '\n\nX Test', X_test, '\n\nY Train', Y_train, '\n\nY Test',Y_test

X Train [[  0.00000000e+00   1.00000000e+00   0.00000000e+00   0.00000000e+00
    1.00000000e+00   2.70000000e+01   4.80000000e+04]
 [  0.00000000e+00   1.00000000e+00   0.00000000e+00   0.00000000e+00
    1.00000000e+00   3.87777778e+01   5.20000000e+04]
 [  1.00000000e+00   0.00000000e+00   1.00000000e+00   0.00000000e+00
    0.00000000e+00   4.80000000e+01   7.90000000e+04]
 [  0.00000000e+00   1.00000000e+00   0.00000000e+00   0.00000000e+00
    1.00000000e+00   3.80000000e+01   6.10000000e+04]
 [  1.00000000e+00   0.00000000e+00   1.00000000e+00   0.00000000e+00
    0.00000000e+00   4.40000000e+01   7.20000000e+04]
 [  1.00000000e+00   0.00000000e+00   1.00000000e+00   0.00000000e+00
    0.00000000e+00   3.50000000e+01   5.80000000e+04]]

X Test [[  0.00000000e+00   1.00000000e+00   0.00000000e+00   1.00000000e+00
    0.00000000e+00   3.00000000e+01   5.40000000e+04]
 [  0.00000000e+00   1.00000000e+00   0.00000000e+00   1.00000000e+00
    0.00000000e+00   5.00000000e+01   8.30000000e+04]
 [  0.00000000e+00   1.00000000e+00   0.00000000e+00   1.00000000e+00
    0.00000000e+00   4.00000000e+01   6.37777778e+04]
 [  1.00000000e+00   0.00000000e+00   1.00000000e+00   0.00000000e+00
    0.00000000e+00   3.70000000e+01   6.70000000e+04]]

Y Train 1    1
6    0
7    1
3    0
0    0
5    1
Name: Purchased, dtype: int64

Y Test 2    0
8    0
4    1
9    1
Name: Purchased, dtype: int64

# Feature Scaling

In [85]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test) #Trivia : Why only transform?
print X_train, X_test

[[-1.          1.         -1.          0.          1.         -1.72380603
  -1.26408415]
 [-1.          1.         -1.          0.          1.          0.04734201
  -0.8941083 ]
 [ 1.         -1.          1.          0.         -1.          1.43418434
   1.60322868]
 [-1.          1.         -1.          0.          1.         -0.0696206
  -0.06166264]
 [ 1.         -1.          1.          0.         -1.          0.83266236
   0.95577094]
 [ 1.         -1.          1.          0.         -1.         -0.52076208
  -0.33914453]] [[-1.          1.         -1.          1.         -1.         -1.27266455
  -0.70912038]
 [-1.          1.         -1.          1.         -1.          1.73494533
   1.97320453]
 [-1.          1.         -1.          1.         -1.          0.23114039
   0.19526503]
 [ 1.         -1.          1.          0.         -1.         -0.22000109
   0.49330113]]